 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  width: 143px;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: KodomoRounded;
  margin: 13px auto 0 260px;
}

.u-section-1 .u-text-2 {
  font-family: KodomoRounded;
  margin: 24px 246px 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 89px;
  }
}@font-face {
  font-family: 'KodomoRounded';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KodomoRounded.otf);
}